.item-text p{
    color: #6e6b6b;
}

.item-text span {
    color: white;
}

.item-box:nth-child(1) {
    background-color: #F17949;
}

.item-box:nth-child(2) {
    background-color: #FAB131;
}

.box-links {
    color: white;
}

.main-container:nth-child(1) {
    background-color: #A9A19E;
}

/* Background color of the picture cards */
.blue {
    background-color: #C7DDEA;
}
.orange {
    background-color: #FAB131;
}
.dark-orange {
    background-color: #F17949;
}